export(sn.fit.robust)
export(sn.plot.check)
export(PBGoF_cvm_test)
export(PBGoF_ks_test)
export(para.bootstrap.test)
export(sn.para.bootstrap.cvm.test)
export(sn.para.bootstrap.ks.test)
export(st.para.bootstrap.ks.test)
export(st.para.bootstrap.cvm.test)
export(st.plot.check)
export(cdf.plot.check)
export(QQ.plot)
export(st.fit.robust)
importFrom(sn,selm)
